<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue 源码解读</title>
  </head>
  <body>
    <!-- {{ obj.a }} -->
    <!-- <div>111</div>
  <div>{{printMsg}}</div> -->
    <!-- <div>{{printMsg}}</div>
  <div>{{test()}}</div>
  <div>{{test()}}</div> -->
    <!-- <div id="app" :class="'111'">
      <div class="cla">{{msg}}</div>
      <div class="cla">111</div>
    </div> -->
    <!-- <div  v-for="item in arr" class="cla">{{item}}</div> -->
    <!-- <comp @click="handleClick" v-model="val" :aaa="222"></comp> -->
    <!-- <input type="text" @input="handleInput('aaa', $event.target.value)">
  <div v-pre>{{msg}}</div>
  <div>???msg??? ???</div> -->

    <div id="app">
      <comp></comp>
    </div>

    <script src="../dist/vue.js"></script>
    <script>
      // const app = document.getElementById("app");
      // const appHtml = app.innerHTML;
      // console.log(appHtml.match(/^\s*/)[0].length);

      Vue.component("comp", {
        name: "comp1",
        // render: (h) => {
        //   return createElement(
        //     'h' + 1,   // 标签名称
        //     '1' // 子节点数组
        //   )
        // },
      //   template: `
      //   <div>
      //   <div>{{aaa}}</div>
      //   <input :value="value" @input="$emit('input', $event.target.value)">
      //   </div>
      // `,
      //   props: ["aaa", "value"],
      //   mounted() {
      //     setTimeout(() => {
      //       // this.aaa = 444;
      //       // console.log('this', this)
      //       // console.log('emit')
      //       // this.$emit('click')
      //     }, 2000);
      //   },
      //   methods: {
      //     handleClick() {
      //       console.log("comp click");
      //     },
      //   },

      template: "<div>comp</div>"
      });
      // Vue.component('comp1', {
      //   name: 'comp2',
      //   template: `
      //     <div>
      //     <div>{{aaa}}</div>
      //     <input :value="value" @input="$emit('input', $event.target.value)">
      //     </div>
      //   `,
      // })
      // debugger
      new Vue({
        el: "#app",
        // delimiters: ["???", "???"],
        // data: {
        //   msg: "hello vue",
        //   obj: {
        //     a: { a: 1 },
        //   },
        //   arr: [1, 2, 3],
        //   val: 0,
        // },
        // computed: {
        //   printMsg: function () {
        //     console.log("********", "computed");
        //     return `${this.msg} computed`;
        //   },
        // },
        // methods: {
        //   test() {
        //     console.log("********", "methods");
        //     return `${this.msg} methods`;
        //   },
        //   handleClick($event) {
        //     console.log("handleClick", $event);
        //   },
        //   handleInput($event) {
        //     console.log("hanldInput", arguments);
        //   },
        // },
        // mounted() {
        //   setTimeout(() => {
        //     // debugger
        //     // this.obj.a.a = 2;
        //     // this.msg = 2;
        //     // this.arr.push(2)
        //     // this.$set(this, 'a', 1);
        //     // console.log('parent');
        //     // console.log(this.bus);
        //     // this.$emit('click')
        //   }, 5000);
        // },
      });

      /**
       * new Function => 实例
       */

      // const obj = {};
      // var a = 1;
      // function fun(...arg) {
      //   console.log('arg', arg);
      // }

      // fun(a, 2, 3, 4);

      // var  a = [1, 2, 3];
      // var b = a.push(4);
      // console.log('b,', b);

      // Object.defineProperty(obj, 'a', {
      //   get() {
      //     console.log('get')
      //   },
      //   set(val) {
      //     console.log('set')
      //     descripor.set(val)
      //   }
      // })

      // const descripor = Object.getOwnPropertyDescriptor(obj, 'a');

      // console.log('descripor', descripor);

      // obj.a = 2;

      // setTimeout(() => {
      //   descripor.set(3);
      // }, 3000);

      // function defineReactive (
      //   obj: Object,
      //   key: string,
      //   val: any,
      //   customSetter?: ?Function,
      //   shallow?: boolean
      // ) {

      //   // debugger
      //   Object.defineProperty(obj, key, {
      //     enumerable: true,
      //     configurable: true,
      //     get: function reactiveGetter () {
      //       const value = val
      //       return value
      //     },
      //     set: function reactiveSetter (newVal) {
      //       const value = val
      //       if (newVal === value || (newVal !== newVal && value !== value)) {
      //         return
      //       }

      //         val = newVal
      //     }
      //   })
      // }

      // var obj = {}
      // Object.defineProperty(obj, 'key', {
      //     enumerable: true,
      //     configurable: true,
      //     get: function reactiveGetter () {
      //       console.log(222222+'---')
      //       return this.a;
      //     },
      //     set: function reactiveSetter (newVal) {
      //       this.a = newVal;
      //     }
      //   })
      //   obj.key = 1;
      // console.log('obj.key', obj.key);

      
      // 子组件的渲染过程
      /*
        根组件开始初始化，挂载，执行 patch，渲染，
        碰到子组件，实例化子组件，执行子组件的 $mount, 
        生成子组件的渲染函数，在之后去挂载这个子组件， 
        执行他的 updateComponent, 执行他的 render 函数，
        生成 vnode， 执行 _update, 进入 patch 阶段，
        子组件渲染到页面上
      */
    </script>
  </body>
</html>
